<%- include('./partials/header'); %>
<body>
  <div class="container p-4">
    <div id="calendar">

    </div>
  </div>
  
</body>

<script>
  let element = document.getElementById("calendar");
  let calendar = new FullCalendar.Calendar(element, {
    initialView: 'dayGridMonth',
    locale: 'pt-br',
    events: 'appointments',
    eventClick: function(info){
      window.location.href = `/event/${info.event.id}`;
    }
  });

  calendar.render();
</script>
<%- include('./partials/footer'); %>