<%- include('./partials/header'); %>
<body>
  <div class="container p-4">
    <h1>Welcome to Schedly</h1>
    <hr>
    <a href="/calendar" class="btn btn-primary">Show appointments</a>
    <a href="/register" class="btn btn-outline-primary">New appointment</a>
  </div>
</body>
<%- include('./partials/footer'); %>